.activities-section {
  padding: 3rem;
}
@media only screen and (max-width: 1599px) {
  .main-header .header-lower {
    padding: 0 30px;
  }
  .testimonial-section .faq-inner,
  .testimonial-section .testimonial-inner {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 1399px) {
  .main-menu .navigation > li {
    margin: 0 15px;
  }
}
@media only screen and (max-width: 1200px) {
  .main-header.style-one .outer-container:before,
  .main-menu,
  .sticky-header {
    display: none !important;
  }
  .menu-area .mobile-nav-toggler {
    display: block;
    padding: 10px;
    margin-top: 12px;
  }
  .banner-section .owl-theme .owl-nav,
  .megamenu ul li:first-child {
    display: none;
  }
  .header-style-one .header-lower .logo-box {
    position: relative;
    left: 0;
    top: 0;
    transform: translateX(0);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }
  .main-header .header-lower {
    padding-bottom: 20px;
  }
  .image_block_one .image-box {
    margin-right: 0;
  }
  .activities-section .lower-box .text {
    padding-left: 30px;
    padding-right: 30px;
  }
  .activities-section .lower-box .sec-title {
    margin-bottom: 15px;
  }
  .header-style-two .header-lower {
    padding-top: 20px;
  }
  .header-style-two .menu-area .mobile-nav-toggler {
    margin-top: 0;
  }
  .header-style-two .menu-area .mobile-nav-toggler .icon-bar {
    background: #fff;
  }
  .content_block_five .content-box,
  .content_block_four .content-box,
  .rtl .image_block_one .image-box {
    margin-left: 0;
  }
}
@media only screen and (min-width: 768px) {
  .main-menu .navigation > li > .megamenu,
  .main-menu .navigation > li > ul,
  .main-menu .navigation > li > ul > li > ul {
    display: block !important;
    visibility: hidden;
    opacity: 0;
  }
}
@media only screen and (max-width: 991px) {
  .cta-section .inner-container,
  .footer-top .top-inner {
    text-align: center;
    display: block;
  }
  .header-style-two .logo-box .social-links,
  .image_block_one .image-box .shape,
  .testimonial-section:before {
    display: none;
  }
  .activities-block-one .inner-box,
  .activities-sidebar,
  .chooseus-section .content-inner,
  .content_block_six .content-box,
  .feature-block-two .inner-box,
  .image_block_one .image-box,
  .news-block-one .inner-box,
  .team-block-one .inner-box {
    margin-bottom: 30px;
  }
  .activities-section .lower-box .text {
    padding-left: 0;
    margin-bottom: 15px;
  }
  .video-section .inner-box {
    display: block;
  }
  .video-section .sec-title {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .testimonial-section .faq-inner,
  .testimonial-section .testimonial-inner {
    width: 100%;
  }
  .testimonial-section .testimonial-inner {
    padding-bottom: 0;
  }
  .accordion-box .block {
    background: rgba(255, 255, 255, 0.1);
  }
  .testimonial-section .faq-inner .faq-content .sec-title .sub-title {
    color: #fff;
  }
  .feature-style-two,
  .news-section,
  .team-section {
    padding-bottom: 90px;
  }
  .footer-top .footer-logo {
    padding: 15px 0;
  }
  .footer-widget {
    margin: 0 0 30px !important;
  }
  .main-footer .widget-section {
    padding-bottom: 54px;
  }
  .header-style-two .logo-box .logo {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
  }
  .image_block_two .image-box,
  .weare-section .sec-title {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .gallery-style-two {
    padding-left: 0;
    padding-right: 0;
  }
  .cta-section .inner-container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .cta-section .inner-container .btn-box {
    margin-top: 15px;
  }
  .image_block_three .image-box {
    margin: 0 0 30px;
  }
  .blog-sidebar {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .banner-carousel .content-box h2,
  .page-title .title h1 {
    font-size: 50px;
    line-height: 60px;
  }
  .banner-carousel .slide-item {
    padding: 150px 0 180px;
  }
  .about-section,
  .about-style-two,
  .activities-details,
  .chooseus-section,
  .contact-section,
  .sidebar-page-container {
    padding: 70px 0;
  }
  .sec-title h2,
  .video-section .sec-title h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .activities-section {
    padding: 100px 0 70px;
  }
  .video-section {
    padding: 70px 0 80px;
  }
  .activities-details-content .content-two .image-box,
  .chooseus-section .image-box .image,
  .content_block_four .content-box .progress-inner,
  .image_block_three .image-box .image {
    margin-bottom: 30px;
  }
  .chooseus-section .content-inner .inner-box {
    padding-right: 0;
  }
  .chooseus-section .content-inner .inner-box .inner {
    position: relative;
    top: 0;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 25px;
  }
  .gallery-section,
  .news-section,
  .team-page-section,
  .team-section,
  .weare-section {
    padding: 60px 0 40px;
  }
  .testimonial-section .faq-inner,
  .testimonial-section .testimonial-inner {
    padding-top: 70px;
  }
  .gallery-style-two,
  .testimonial-section .faq-inner {
    padding-bottom: 70px;
  }
  .main-footer .pattern-layer,
  .testimonial-section .owl-dots {
    display: none;
  }
  .client-section .title-text {
    margin-bottom: 50px;
  }
  .main-footer {
    padding-top: 30px;
  }
  .banner-section.style-two .banner-carousel .slide-item {
    padding: 200px 0 160px;
  }
  .client-section.alternat-2,
  .testimonial-style-two {
    padding: 60px 0 70px;
  }
  .about-style-three,
  .feature-section {
    padding: 70px 0 60px;
  }
  .feature-block-one .inner-box {
    padding-bottom: 0;
  }
  .feature-section .inner-content {
    padding-bottom: 42px;
  }
  .activities-page-section,
  .feature-style-two,
  .gallery-page-section {
    padding: 70px 0 40px;
  }
  .rtl .video-section {
    text-align: right;
  }
  .rtl .chooseus-section .content-inner .inner-box {
    padding-left: 0;
  }
  .page-title {
    padding: 120px 0 110px;
  }
  .image_block_three .image-box {
    padding: 0;
  }
  .image_block_three .image-box .single-image {
    padding: 0 15px;
  }
  .testimonial-style-two.about-page {
    padding-top: 60px;
  }
  .cta-section .inner-container {
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .feature-block-one .inner-box h5 {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 599px) {
  .header-style-two .menu-right-content,
  .main-header .menu-right-content .support-box {
    display: none;
  }
  .blog-details-content .author-box,
  .content_block_two .content-box .upper {
    padding-left: 30px;
    padding-right: 30px;
  }
  .testimonial-section .testimonial-inner .inner-box .text h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .content_block_three .content-box .inner-box {
    padding-right: 0;
  }
  .content_block_three .content-box .inner-box .inner {
    position: relative;
    top: 0;
    width: 100%;
    margin-bottom: 25px;
  }
  .error-section {
    padding: 100px 0;
  }
  .blog-details-content .post-share-option .post-tags {
    float: none;
    display: block;
    margin-bottom: 15px;
  }
  .blog-details-content .post-share-option .social-links {
    float: none;
    display: block;
  }
  .blog-details-content .author-box .author-thumb {
    position: relative;
    left: 0;
    top: 0;
    margin-bottom: 15px;
  }
  .blog-details-content .author-box h4 {
    margin-bottom: 10px;
  }
  .blog-details-content .comment-box .comment .reply-btn {
    position: relative;
    top: 0;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 499px) {
  .mobile-menu {
    width: 100%;
  }
  .activities-details-content .content-one .lower-box,
  .activities-section .lower-box,
  .blog-sidebar .sidebar-widget,
  .media-partner,
  .news-block-one .inner-box .lower-content {
    padding-left: 30px;
    padding-right: 30px;
  }
  .media-partner .media-links li {
    margin-right: 15px;
  }
  .footer-top .top-inner .text h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .activities-section .lower-box .text p br,
  .banner-carousel .content-box h2 br {
    display: none;
  }
  .image_block_two .image-box .shape .shape-2 {
    right: 0;
  }
  .theme-btn {
    padding: 16.5px 40px;
    margin-top:15px;
  }
  .activities-section .lower-box .text {
    padding-right: 0;
  }
  .error-section .inner-box h1 {
    font-size: 140px;
    line-height: 140px;
  }
  .blog-details-content .comment-box .comment {
    padding-left: 0;
  }
  .blog-details-content .comment-box .comment .thumb-box {
    position: relative;
    top: 0;
    margin-bottom: 25px;
  }
  .content_block_six .content-box .inner-box .single-item h3 {
    font-size: 18px;
    line-height: 26px;
  }
}
@media only screen and (max-width: 399px) {
  .main-header .search-box-outer .dropdown-menu {
    right: -75px;
    width: 300px;
  }
  .content_block_one .content-box .text p {
    font-size: 20px;
    line-height: 30px;
  }
  .news-block-one .inner-box .lower-content h3 {
    font-size: 24px;
    line-height: 32px;
  }
  .blog-details-content .post-share-option .post-tags li a {
    padding-left: 10px;
    padding-right: 10px;
  }
}
